
body
{
    background-color: darkblue; /*back-up color if pictures don't load*/
    background-size: cover;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#title
{
    font-size: 55px;
    font-family: 'Varela Round', 'Calibri', Arial;
    text-align: center;
    color:black;
    width: 100%;
    text-shadow: 1px 2px goldenrod;
    margin-bottom: 1.5%;
}

#inner-title
{
    font-family: 'Varela Round', 'Calibri', Arial;
    text-align: center;
    color: black;
    width: 100%;
    margin-bottom: 2%;
}

#loginDiv /*: Welcome back Knight!*/
{
    font-size: 30px;
    width: 70%;
    margin: auto;
}

.buttons
{
    font-size: 70%;
    font-family: 'Varela Round', 'Calibri', Arial;
    text-align: center;
    color: white;
    background-color: black;
    border-radius: 50px;
    border-color: goldenrod;
    outline: 0;
    height: 1.7em;
    width: 8em;
    /* Fix text spilling out of button resizing issue*/
    width: 25%;
    cursor: pointer;
}

.buttons:hover
{
    color: black;
    background-color: goldenrod;
}

#loginName,#loginPassword, #newUserName, #newPassword
{
    font-size: 27px;
    color: black;
}

#eventSearchBar /*button*/
{
    width: 97%;
    border-color: gold;
    display: inline-block;
    margin-top: 4%;
}

#eventDatePlacement
{
  background: url(../images/search_icon.png) no-repeat scroll .5px .5px;
  background-color: white;
  border-color: gold;
  background-size: 35px 33px;
  background-repeat: no-repeat;
  padding-left:45px;
  font-size: 26px;
  display: inline-block;
  margin-top: 1.5%;
}

#searchBar
{
    background: url(../images/search_icon.png) no-repeat scroll .5px .5px;
    background-color: white;
    border-width: 2.5px;
    border-color: gold;
    background-size: 35px 33px;
    background-repeat: no-repeat;
    padding-left:45px;
    font-size: 26px;
    text-align: justify;
    display: inline-block;
    width: 55%;
    margin-top: 1.5%;
}

input[type="text"], input[type="password"]
{
    border-radius: 25px;
    border-color: goldenrod;
    background-color: white;
    text-align: center;
    width: 50%;
    margin-left: 25%;
    margin-bottom: 2%;
    font-size: 0.5em;
    outline: 0;
    font-family: 'Varela Round', 'Calibri', Arial;
}

#welcome /*for log in page*/
{
    border-radius: 20px;
    border-width: 50%;
    border-bottom: 1.3px solid goldenrod;
    border-top: 1.3px solid goldenrod;
    border-left: 1px solid goldenrod;
    border-right: 1px solid goldenrod;
    display: inline-block;
    background-color: black;
    font-size: 0.8em;
    width: 36%;
    text-align: center;
    margin-left: 32%;
    margin-bottom: 2%;
    font-family: 'Varela Round', 'Calibri', Arial;
    color: white;
}

#createAccount, #haveAccount
{
    display: inline-block;
    width: 90%;
    margin-left: 5%;
    font-size: 0.7em;
    text-align: center;
    font-family: 'Varela Round', 'Calibri', Arial;
    color: black;
}

#loginResult, #signUpResult, #contactAddResult, #contactSearchResult, #contactEditResult
{
    display: inline-block;
    background-color:goldenrod;
    font-size: 0.8em;
    width: 70%;
    text-align: center;
    margin-top: 1%;
    margin-bottom: 2%;
    margin-left: 15%;
    font-family: 'Varela Round', 'Calibri', Arial;
    color: #95060a;
}

#userName
{
    display: inline-block;
    width: 80%;
    margin-left: 10%;
    text-align: center;
}

#logoutButton
{
    border-radius:20%;
    margin-left: 38%;
    border-color: transparent;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 50px 50px;
    height: 60px;
    width: 60px;
    position:absolute;
    top:1%;
    right:1%;
    background-image: url('../images/logOut.png');
}

#logoutButton:hover
{
    background-color: goldenrod;
    border-color: gray;
    opacity: 100%;
}

#buttonDiv
{
    margin-left: 10%;
    text-align: left;
    background-color: transparent;
    /* TESTING HERE */
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-border-image: border-box;
    border-image: auto;

    width:80%;
    height: 30%;
}

#searchEventBox
{
    font-family: 'Varela Round', 'Calibri', Arial;
    font-size: 30px;
    border-radius: .5em;
    margin: auto;
    width:80%;
    font-size: 30px;
    background-color: black;
    padding : 15px;
    padding-left: 1%;
    box-shadow: 5px 10px 8px black;
    border-radius: .5em .5em 0 0;
}

.inner /* for 2 buttons on same line*/
{
    margin-left: 12%;
    font-size: 150%;
    font-family: 'Varela Round', 'Calibri', Arial;
    display: inline-block;
    width: 20em;
    margin-right: -30%;
    text-size-adjust: 30%;
}

.inner-2 /* for 3 buttons on same line*/
{
    margin-left: 5%;
    font-family: 'Varela Round', 'Calibri', Arial;
    font-size: 150%;
    display: inline-block;
    width: 20em;
    margin-right: -30%;
    text-size-adjust: 30%;
}

/* EDIT THIS*/

#colorSearchResult /* I'm not sure what this does*/
{
    display: none;
}

#contactAddResult, #contactEditResult/* for error msg*/
{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 1%;
    font-family: 'Varela Round', 'Calibri', Arial;
    color: #95060a;
}

#notesContact, #notesContact2 /*The text box in add/edit contact*/
{
    font-family: 'Varela Round', 'Calibri', Arial;
    width: 85%;
    border: 2px solid black;
    border-radius: 4px;
    outline: 0;
    padding-left: 2%;
    margin-top: 4%;
    margin-left: 12%;
    resize: none;
    font-size: 0.5em;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-border-image: border-box;
    border-image: auto;
    height: 70px;
}

.container /*The yellow add/edit contact box*/
{
    font-family: 'Varela Round', 'Calibri', Arial;
    border-radius: .5em;
    font-size: 25px;
    width: 50%;
    margin-top: 2%;
    margin: auto;
    padding : 15px;
    padding-left: 1%;
    background-color: goldenrod;
    box-shadow: 5px 10px 8px black;
}

.container2 /*The list of events box*/
{
    font-family: 'Varela Round', 'Calibri', Arial;
    border-radius: 0 0 .5em 0.5em;
    font-size: 25px;
    width: 80%;
    margin-top: 2%;
    margin: auto;
    padding : 15px;
    padding-left: 1%;
    background-color: goldenrod;
    box-shadow: 5px 10px 8px black;
    align-items: center;

}

.row:after /* 2 column formatting for contacts*/
{
    content: "";
    display: table;
    clear: both;
}

label
{
    padding-left: 8%;
    padding-top: 6%;
    display: inline-block;
}

.col-left
{
    float: left;
    width: 40%;
    margin-top: 2px;
    margin-right: -10%;
}

.col-right
{
    font-size: 150%;
    float: left;
    margin-top: 2px;
    width: 70%;
    margin-right: 0;
}

#required
{
    font-family: 'Varela Round', 'Calibri', Arial;
    color: darkred;
    font-size: 0.6em;
}

#firstNameText, #lastNameText, #emailContact, #phoneNumber, #addressContact,
#firstNameText2, #lastNameText2, #emailContact2, #phoneNumber2, #addressContact2 /*contact input fields*/
{
    border-color: black;
    padding-left: 3.5%;
    text-align: justify;
    font-size-adjust: initial;
    width: 80%;
    margin-left: 12%;
    margin-bottom: 2%;
    font-size: 0.5em;
    outline: 0;
    font-family: 'Varela Round', 'Calibri', Arial;
}

/* for black bar formatting */
.left
{
    float: left;
    width: 25%;
}

.right
{
    float: left;
    width: 75%;
    margin-left: 0;
}


#myUL {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  #myUL li a {
    margin: auto;
    font-family: 'Varela Round', 'Calibri', Arial;
    font-size: 0.9em;
    border-radius: 0.5em;
    background-color: black;
    border: 1px solid white;
    color: white;
    padding: 10px 24px; /* Some padding */
    cursor: pointer;
    width: 50%;
    display: block;
    outline: 0;
    text-align: center;
    margin-top: -1px; /* Prevent double borders */
    text-decoration: none;
    display: block
  }

  #myUL li a:hover:not(.header) {
    color: #FFFFFF;
    border-color: black;
    background-color: gold;
    color: black;
    opacity: 95%;
  }
